body{
   background-color: #000000;
   background-size: 100%;
   margin: 0%;
   padding: 0%;
}

IMG.displayed {
    background:none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add-site{
  padding: 0%;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  width: 1800px;
}

.add-site input{

  width: 40%;
  height: 20px;
  background-color: #141414;
  border-top-left-radius:40px;
  border 2px solid;
  border-bottom-left-radius:40px;
  border-color: red;
  color: red;
  font-size: 100%;
  font-family: Andale Mono, monospace;
  border-top-right-radius:40px;
  border-bottom-right-radius:40px;
  margin-left:300px;

}


.add-site button{

margin-left: auto;
margin-right: auto;
border-top-right-radius:40px;
border-bottom-right-radius:40px;
border-top-left-radius:40px;
border-bottom-left-radius:40px;
border-color: red;

background-color: #141414;
color: red;

font-size: 100%;
font-family: Andale Mono, monospace;

}
